body {
    background-color: rgba(93, 204, 214, 0.742);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



.board {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-width: 2vmin;
    gap: 10px;
    justify-items: center;
    align-items: center;
    margin: auto;
}

.card {
    background-color: rgba(37, 34, 200, 0.84);
    padding: 10px;
    text-align: center;
    height: 100px;
    width: 100px;
    justify-content: center;
    border-style: solid;
    border-color: black;
    border-width: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.card:hover {
    background-color: yellow
}

header {
    font-size: 75px;
    text-align: center;
    font-style: italic;
    font-weight: 100;
    position: absolute;
    top: 50px;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-style: italic;
    font-weight: 100;
    position: absolute;
    top: 100px;
    color: rgb(255, 255, 255)
}
h2 {
    font-size: 100px;
    text-align: center;
    font-style: italic;
    font-weight: 100;
    position: absolute;
    color: rgb(5, 154, 97)
}

h3 {
    font-size: 100px;
    text-align: center;
    font-style: italic;
    font-weight: 100;
    position: absolute;
    color: rgb(178, 11, 42)
}

button {
    font-size: 25px;
    background-color:aquamarine;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

button:hover {
    color: aquamarine;
    background-color: black;
    cursor: pointer;
}

.flipped {
    background-color: orange;
    transform: rotateY('180deg');
}

.matched {
    background-color: black;
    pointer-events: none;
}